[run]
source = .
omit =
    */tests/*
    */__pycache__/*
    */venv/*
    */env/*
    */.pytest_cache/*
    */htmlcov/*
    */*.pyc
    setup.py
    
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    pass
    
show_missing = True
skip_covered = False
precision = 2
